@use 'base/mixins' as m;

.header {
    padding-top: 5rem;

    &__grid {
        align-items: center;
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}